@import './variables.scss';

html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  font-family: $default-font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
  letter-spacing: $default-letter-spacing;
}

